<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864285526097-uh17984nnkbbgn3qejo1hj86hbe3geao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864285526097-uh17984nnkbbgn3qejo1hj86hbe3geao</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>864285526097-o2s783ufp6jnj6bm28p4ed6tk1gcgpg0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBG8HGrfA_Yl_Bj1m2HrsR-ucX_aC-Snf0</string>
	<key>GCM_SENDER_ID</key>
	<string>864285526097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finerioconnect.widget</string>
	<key>PROJECT_ID</key>
	<string>finerio-android</string>
	<key>STORAGE_BUCKET</key>
	<string>finerio-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864285526097:ios:5d36185d8c89075d549070</string>
	<key>DATABASE_URL</key>
	<string>https://finerio-android.firebaseio.com</string>
</dict>
</plist>